<div align="center">

  All Jobs for <strong><%= @company.name %></strong>

  <% @jobs.each do |job| %>
  <p><%= job.title %> at <%= job.company.name %></p>
  <p class=job_<%= job.id %>><%= link_to "Delete", company_job_path(@company, job), method: "delete" %></p>
  <% end %>
  <p><%= link_to "Companies Index", companies_path %></p>
</div>
