<div align="center">

  All Jobs for <strong><%= @company.name %></strong>

  <% @jobs.each do |job| %>
  <p><%= link_to job.title, company_job_path(@company, job) %> at <%= job.company.name %></p>
  <p class=job_<%= job.id %>><%= link_to "Delete", company_job_path(@company, job),
                  method: "delete" if logged_in?(:site_admin) %></p>
  <% end %>

  <h3>Contact Information</h3>
  <%= render partial: 'companies/contact', collection: @company.contacts.reverse %>
  <p><%= render partial: 'contacts/form' %></p>

</div>
