<div align="center">
  Title: <%= @job.title %>
  <br>

  Description: <%= @job.description %>
  <br>

  Level of Interest: <%= @job.level_of_interest %>
  <br>

  City: <%= @job.city %>
  <br>

  Category: <%= @job.category.title  %>
  <br>

  Company: <%= link_to @job.company.name, company_path(@job.company) %>
  <br>

  <h3>Comments (<%= @job.comments.size %>)</h3>
</h3>
  <%= render partial: 'jobs/comment', collection: @job.comments.reverse %>

  <br>
  <%= render partial: 'comments/form' %>

  <p><%= link_to "Companies Index", companies_path %></p>
</div>
