  <h1 align="center">All Categories</h1>
  <p><%= link_to "Create a New Category", new_category_path %></p>

  <div class="container">
    <div class="row">
      <% @categories.each do |category| %>
      <div class="col-md-4">
        <p class=category_<%= category.id %>>
        <h4><%= link_to category.title, category_path(category) %></h4>
        <% if logged_in?(:site_admin) %>
          <p><%= link_to "Edit", edit_category_path(category), class: "btn btn-primary btn-sm" %> |
          <%= link_to "Delete", category_path(category), class: "btn btn-danger btn-sm",
              method: :delete %></p>
              <% end %>
            </div>
      <% end %>
  </div>
</div>
