<!DOCTYPE html>
<html>
  <head>
    <title>JobTracker</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div class="container">
      <div class="masthead">
        <h3 class="text-muted">Job Tracker</h3>

        <%= render "shared/navbar" %>

        <!-- <p class="notice"><%= notice %></p> -->
        <!-- <p class="alert"><%= alert %></p> -->
        <% if current_user %>
          <%= link_to "Logout", destroy_user_session_path, method: :delete %>
        <% else  %>
          <%= link_to "Register", new_user_registration_path %>
          <%= link_to "Login", new_user_session_path %>
        <% end  %>

        <% flash.each do |name, msg| %>
          <%= content_tag :div, msg, class: name %>
        <% end %>

      <%= yield %>

      </div>
    </div>
  </div>

  </body>
</html>
